<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model.trim="form.first_name"
        :rules="nameRules"
        label="First Name"
        required
      ></v-text-field>

      <v-text-field
        v-model.trim="form.last_name"
        :rules="nameRules"
        label="Last Name"
        required
      ></v-text-field>

      <v-text-field
        v-model.trim="form.phone_number"
        :rules="phoneRules"
        label="Phone Number"
        required
      ></v-text-field>

      <v-text-field
        v-model.trim="form.email"
        :rules="emailRules"
        label="E-mail"
        required
      ></v-text-field>

      <v-radio-group v-model="form.group">
        <v-radio
          v-for="group in groupOptions"
          :key="group"
          :value="group"
          :label="group"
        >
        </v-radio>
      </v-radio-group>

      <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
        {{ !isOnUpdate ? `Save` : `Update` }}
      </v-btn>

      <v-btn color="error" class="mr-4" @click="reset">
        Reset Form
      </v-btn>

      <v-btn
        color="warning"
        class="mr-4"
        v-show="isOnUpdate"
        @click="cancelUpdate"
      >
        Cancel Update
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import api from "../../services/api";
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    valid: false,
    groupOptions: [],
    form: {
      first_name: "",
      last_name: "",
      phone_number: "",
      email: "",
      group: null,
    },
    nameRules: [(v) => !!v || "Name is required"],
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    phoneRules: [
      (v) => !!v || "Phone number is required",
      (v) =>
        /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$/im.test(v) ||
        "Phone number must be valid",
    ],
  }),

  computed: {
    ...mapGetters("form_store", ["addressBooks", "isOnUpdate"]),
  },
  methods: {
    ...mapActions("form_store", ["addNewItem", "setOnUpdate", "updateRow"]),
    reset() {
      this.$refs.form.reset();
    },
    checkExisting() {
      const addressbooks = [...this.addressBooks];

      const f_name = addressbooks.filter(
        (row) => row.first_name === this.form.first_name
      );
      const l_name = addressbooks.filter(
        (row) => row.last_name == this.form.last_name
      );

      if (f_name.length && l_name.length) {
        return true;
      }

      return false;
    },
    save() {
      if (this.$refs.form.validate()) {
        if (!this.checkExisting()) {
          const payload = { ...this.form };
          if (!this.isOnUpdate) {
            this.addNewItem(payload);
          } else {
            this.updateRow(payload);
          }
        }
      }
    },
    cancelUpdate() {
      this.setOnUpdate(false);
    },
  },
  async created() {
    const result = await api.getGroupOptions();
    this.groupOptions = result;

    this.$bus.$on("updateForm", (payload) => {
      this.form = { ...payload };
    });
  },
};
</script>
