<template>
  <div class="mt-5">
    <v-layout row wrap>
      <v-flex xs3>
        <v-text-field
          v-model.trim="filter.email"
          label="Filter by email"
          id="id"
          @keypress.enter="filter_data"
        ></v-text-field>
      </v-flex>
      <v-flex xs1 v-for="group in groupOptions" :key="group">
        <v-checkbox
          @change="filter_data"
          :label="group"
          :value="group"
          v-model="filter.options_selected"
        ></v-checkbox>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-for="(data, i) in cached_address_book" :key="i">
      <v-flex xs12>
        <v-card>
          <v-card-title primary-title>
            {{ data.first_name }} {{ data.last_name }}
          </v-card-title>
          <v-card-text>
            <div class="">Email: {{ data.email }}</div>
            <div class="">Group: {{ data.group }}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn color="success" @click="updateEntry(data, i)"
              >Update Entry</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import api from "../../services/api";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      groupOptions: [],
      filter: {
        email: "",
        options_selected: [],
      },
      list: [],
    };
  },
  computed: {
    ...mapGetters("form_store", ["cached_address_book"]),
  },
  methods: {
    ...mapActions("form_store", ["setOnUpdate", "setRowIndex", "filter_list"]),
    updateEntry(data, row) {
      this.setOnUpdate(true);
      this.setRowIndex(row);
      this.$bus.$emit("updateForm", data);
    },
    filter_data() {
      this.filter_list(this.filter);
    },
  },
  async created() {
    const result = await api.getGroupOptions();
    this.groupOptions = result;
  },
};
</script>
