<template>
  <v-app>
    <v-main>
      <v-container grid-list-lg>
        <v-layout row wrap class="mb-5">
          <v-flex xs12>
            <Form />
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <List />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Form from "./components/form";
import List from "./components/list";

export default {
  name: "App",

  components: {
    Form,
    List,
  },

  data: () => ({
    //
  }),
};
</script>
